---
title: Documents Verification
permalink: /documents-verification/
variant: tiptap
description: ""
third_nav_title: Use Case
---
<p></p>
<h3>Documents Verification</h3>
<p>Documents such as the Certificate of Origin where the provenance and authenticity
of the document can be easily verified by any party independently just
with an internet access.</p>
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="VERIFIABLE DOCUMENTS’ INTEROPERABILITY" src="/images/Verifiable_Doc_Use_Case.png">
</div>
<p></p>
<div data-type="detailGroup" class="isomer-accordion isomer-accordion-white">
<details class="isomer-details">
<summary>Improvements to the Exporter</summary>
<div data-type="detailsContent" class="isomer-details-content">
<p></p>
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="" src="/images/Stock_image_samples/Verifiable_exporter.png">
</div>
</div>
</details>
<details class="isomer-details">
<summary>Improvements to the Importer</summary>
<div data-type="detailsContent" class="isomer-details-content">
<p></p>
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="" src="/images/Stock_image_samples/Verifiable_Importer.png">
</div>
</div>
</details>
<details class="isomer-details">
<summary>Improvements to the Cert Issuing/Checking Authority</summary>
<div data-type="detailsContent" class="isomer-details-content">
<p></p>
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="" src="/images/Stock_image_samples/Verifiable_Customs.png">
</div>
</div>
</details>
<details class="isomer-details">
<summary>Improvements to the Banker</summary>
<div data-type="detailsContent" class="isomer-details-content">
<p></p>
<div class="isomer-image-wrapper">
<img style="width: 100%" height="auto" width="100%" alt="" src="/images/Stock_image_samples/Verifiable_Banker.png">
</div>
</div>
</details>
</div>
<p>c</p>